<h1>NFL PLAYERS</h1>


<div>
  <h2><%= link_to "QUARTERBACKS", quarterbacks_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
      <th></th>
    </tr>
    <% @players.each do |player| %>
      <% if player.position == "QB" %>
        <%= render player %>
      <% end %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "RUNNING BACKS", runningbacks_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% @players.each do |player| %>
      <% if player.position == "RB" %>
        <%= render player %>
      <% end %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "WIDE RECEIVERS", widereceivers_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% @players.each do |player| %>
      <% if player.position == "WR" %>
        <%= render player %>
      <% end %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "TIGHTENDS", tightends_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% @players.each do |player| %>
      <% if player.position == "TE" %>
        <%= render player %>
      <% end %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "KICKERS", kickers_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% @players.each do |player| %>
      <% if player.position == "K" %>
        <%= render player %>
      <% end %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "DEFENSE/SPECIAL TEAMS", defenses_path %></H2>
  <table>
    <tr>
      <th>NFL Team</th>
    </tr>
    <% @pro_teams.each do |team| %>
      <tr>
        <td><%= link_to team.full_name, pro_team_path(team) %></td>
      </tr>
    <% end %>
  </table>
</div>
