<h1>NFL PLAYERS</h1>


<div>
  <h2><%= link_to "QUARTERBACKS", quarterbacks_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
      <th></th>
    </tr>
    <% qbs = @rankings.where("position == 'QB'").map(&:player) %>
    <% qbs.each do |player| %>
      <%= render player %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "RUNNING BACKS", runningbacks_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% rbs = @rankings.where("position == 'RB'").map(&:player) %>
    <% rbs.each do |player| %>
      <%= render player %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "WIDE RECEIVERS", widereceivers_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% wrs = @rankings.where("position == 'WR'").map(&:player) %>
    <% wrs.each do |player| %>
      <%= render player %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "TIGHTENDS", tightends_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% tes = @rankings.where("position == 'TE'").map(&:player) %>
    <% tes.each do |player| %>
      <%= render player %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "KICKERS", kickers_path %></h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>NFL Team</th>
    </tr>
    <% ks = @rankings.where("position == 'K'").map(&:player) %>
    <% ks.each do |player| %>
      <%= render player %>
    <% end %>
  </table>
</div>

<div>
  <h2><%= link_to "DEFENSE/SPECIAL TEAMS", defenses_path %></H2>
  <table>
    <tr>
      <th>NFL Team</th>
    </tr>
     <% defs = @rankings.where("position == 'DEF'").map(&:player) %>
    <% defs.each do |team| %>
      <tr>
        <td><%= link_to team.fullname, pro_team_path(team.pro_team_id) %></td>
      </tr>
    <% end %>
  </table>
</div>
