<tr>
  <td><%= projection.week %></td>
  <td><%= projection.pass_att %></td>
  <td><%= projection.pass_comp %></td>
  <td><%= projection.pass_yds %></td>
  <td><%= projection.pass_td %></td>
  <td><%= projection.rush_att %></td>
  <td><%= projection.rush_yds %></td>
  <td><%= projection.rush_td %></td>
  <td><%= projection.pass_int %></td>
  <td><%= projection.fumbles_lost %></td>
</tr>
