<!DOCTYPE html>
<html>
<head>
  <title>Football</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <% if signed_in? %>
      <%= link_to current_user.username, dashboard_path %>
      <%= link_to "Sign out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign In", new_session_path %>
      <%= link_to "Sign Up", new_user_path %>
    <% end %>
  </div>

  <div>
    <h4><%= link_to "Footballing", dashboard_path %></h4>
  </div>
  <div>
    <div class="left-split">
      <h3><%= link_to "NFL Teams", pro_teams_path %></h3>
    </div>
    <div class="right-split">
      <h3><%= link_to "NFL Players", players_path %></h3>
    </div>
  </div>

<%= yield %>

</body>
</html>
